@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Mono', monospace;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
